@import "tailwindcss";

body {
  background: #111827;
  color: #fff;
  font-family: var(--font-poppins), sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.text-fluid-16 {
  font-size: calc(1.525rem + 3.3vw) !important;
}

/* * Optional: This media query sets a fixed, comfortable base size 
 * for very small devices (screens up to 640px wide).
 */
@media (max-width: 640px) {
  .text-fluid-16 {
    font-size: 2.5rem !important;
  }
}
/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
